<div class="jumbotron home-jumbotron">
  <h1 class="display-4">予約管理システム</h1>
  <p class="lead">予約管理システム</p>
  <hr class="my-4">
  <p>まずは会員登録をして始めてみましょう！</p>
  <a class="btn btn-lg signup-button" href="/signup" role="button">会員登録</a>
</div>