<div class="profile_infomation">
  <div class="col-md-3 col-sm-12 profile-sidebar">
    <div class="profile-name">
      
    </div>
    <div class="profile-created_at">
      
    </div>
    <%= render("static_pages/book_record_form") %>
  </div>
  <div class="col-md-9 col-sm-12 profile-information">
    <%= render("shared/carousel", user: current_user) %>
  <div>
</div>