<% provide(:class_text, 'edit') %>
<% provide(:button_text, '更新') %>
<% provide(:url_text, book_record_path) %>
<% provide(:method_text, :patch) %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">予約情報編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <%= render("static_pages/book_record_form") %>
      </div>
    </div>
  </div>
</div>