/* for simple_calendar */
.simple-calendar {
  color: black;

  /* day of the week */
  thead {
    background-color: #0099FF;
    color: #FFFFFF;
    font-size: 16px;
    border: solid #0099FF;
    
    th {
      border: solid #0099FF;
      text-align: center;
    }
  }

  .calendar-heading {
    text-align: center;

    a {
      background-color: #0099FF;
      padding: 4px 12px;
      color: white;

      &:hover {
        background-color: #fff7ed;
        color: #ff9e44;
      }
    }

    span {
      font-size: 24px;
      color: white;
      margin: 10px 10px;
      padding: 5px 30px;
      border: 2px  #0099FF;
      background-color: #0099FF;
    }
  }

  .table-striped {
    margin-top: 10px;
    position: relative;
  }

  .table-striped::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 101%;
    display: block;
    border: solid white;
  }

  .day {
    background-color: #FFFFFF;
    position: relative;
    border: solid 3px #0099FF;

    a {
      position: absolute;
      top: 0;
      left: 0;
      height:100%;
      width: 100%;
    }

    .day-number {
      font-size: 20px;
      color: #000000;
    }
  }

  /* Row of Sunday */
  .wday-0 {
    background-color: #FF82B2;

    .day-number {
      color: #f13d3d;
    }
  }

  /* Row of Saturday */
  .wday-6 {
    background-color: #FFD772;

    .day-number {
      color: 	#FFBB00;
    }
  }

  /* prev and next month */
  .prev-month {
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      height:100%;
      width: 100%;
    }

    .day-number {
      font-size: 20px;
      color: #9e9e9e;
    }
  }

  .next-month {
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      height:100%;
      width: 100%;
    }

    .day-number {
      font-size: 20px;
      color: #9e9e9e;
    }
  }
  
  .simple-calendar-date {
    font-size: 24px;
    position: absolute;
    z-index: 999;

    .amount-expenditure {
      font-size: 14px;
      color: #f13d3d;
    }
  
    .amount-income {
      font-size: 14px;
      color: #3dd030;
    }
  }
}

@media screen and (max-width:1025px)
{
  .simple-calendar {
    thead {
      font-size: 12px;
    }

    .calendar-heading {
      a {
        padding: 3px 10px;
      }
    }

    .day {
      .day-number {
        font-size: 14px;
      }
    }

    .simple-calendar-date {
      .amount-expenditure {
        font-size: 11px;
        color: #f13d3d;
      }
    
      .amount-income {
        font-size: 11px;
        color: #3dd030;
      }
    }
  }
}