/* setting sidebar */
.settings-sidebar {
  padding: 10px 0;

  .list-group-item {
    margin: 5px 16px;
    color: white;
    font-size: 18px;
    border: 2px ridge white;
    border-radius: 10px;
    background-color:black;
    &:hover {
      background-color: black;
      border: 2px ridge white;
      color: white;
    }
  }

  .active {
    background-color: black;
    border: 2px ridge white;
  }
}

/* setting title */
.settings-title {
  margin: 40px 0 40px 0px;
  color: white;
  text-align: center;
  font-size: 24px;
  background-color: black;
  border: 2px ridge #ffffff;
  border-radius: 10px;
  padding: 4px 15px 4px 15px;
  width: 350px;
}

/* default tag styles for users */
.users {
  padding: 60px 0;
  background-color:#FDF5E6;

  /* signup */
  .signup-title {
    margin: 40px 0 20px 200px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
    width: 280px;
  }

  .error-details {
    color: #9c2510;
  }

  .signup-form {
    color: white;

    .form-control {
      margin-bottom: 10px;
    }

    .signup-button {
      margin-top: 20px;
      font-size: 20px;
      float: right;
      padding: 5px 20px 5px 20px;
      background-color: black;
      border-color:  black;
      color: white;
      &:hover {
        background-color:  black;
        border-color:  black;
        color: white;
      }
    }
  }

  /* profile page header */
  .profile-header {
    background-color: #333333;
    margin-top: -10px;
  }

  /* profile page sidebar */
  .profile-sidebar {
    background-color: #df7599;
    color: white;

    .profile-icon {
      margin-top: 16px;
      padding: 20px;
    }

    .profile-name {
      font-size: 28px;
    }

    .profile-created_at {
      font-size: 18px;
    }
  }

  /* settings */
  .settings-form {
    color: black;

    .form-control {
      margin-bottom: 10px;
    }

    .settings-update-button {
      margin-top: 20px;
      font-size: 20px;
      float: right;
      padding: 5px 20px 5px 20px;
      background-color: black;
      border-color: black;
      color: white;
      &:hover {
        background-color: black;
        border-color:black;
        color: white;
      }
    }
  }
}

/**/
.self_categories {
  /* category-setting */
  .category-setting-title {
    margin: 40px 0 40px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color:black;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
    width: 350px;
  }

  .category-setting-form {
    color: black;

    .form-control {
      margin-bottom: 10px;
    }

    .category-setting-button {
      margin-top: 20px;
      font-size: 20px;
      float: right;
      padding: 5px 20px 5px 20px;
      background-color: black;
      border-color:black;
      color: white;
      &:hover {
        background-color: black;
        border-color: black;
        color: white;
      }
    }
  }
}