<% provide(:title, 'attendance-log') %>

<h1>勤怠ログ</h1>

<div>
  <table class="table table-bordered table-condenced table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>指示者</th>
      </tr>
    </thead>
    
    <tbody>
      
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      
    </tbody>
  </table>
</div>