<footer class="navbar navbar-dark navbar-fixed-bottom footer-navbar">
  <div class="container">
    <ul class="nav navbar-dark navbar-nav navbar-right">
      <li class="navlist"><%= link_to "", "/about" %></li>
    </ul>
  </div>
</footer>